@import './settings.scss';


.a-propos {
  @include centered-flex-container-column;
  gap: clamp(20px, 2.083vw, 30px);
  padding-left: 8.75%;
  padding-right: 8.75%;



  @media screen and (max-width: 768px) {
    padding-left: 0%;
    padding-right: 0%;
  }
}