@import './settings.scss';

.dropdown {
    width: 100%;
    overflow: hidden;
    height: auto;

    &__title {
        background-color: $main-color;
        display: flex;
        border-radius: 10px;
        padding: 10px;
        justify-content: space-between;
        z-index: 10;

        &__label {
            color: white;
            font-size: 1.125rem;
        }

        &__handle {
            transition: transform 600ms;

            &--open {
                transition: transform 600ms;
                transform: rotate(-180deg);
            }
        }
    }

    &__hidden-box {
        transition: height 800ms;
        height: 0px;
        background-color: #F6F6F6;

        *,
        &--open {
            z-index: -1;
            @include default-text(1.125rem);
            font-weight: 400;
            padding: 20px;
            line-height: 1.2rem;


        }

        &__item {
            line-height: 1.6rem;

        }

        &--open {
            height: calc(130px - 3vw);
            transition: height 800ms;
            position: relative;
            background-color: #F6F6F6;
            display: flex;
            align-content: flex-end;

            * {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: auto;
            }
        }
    }

}