@import './settings.scss';

.error {
    @include flex-column;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
    padding: 139px;

    &__type {
        font-size: clamp(6rem, 20vw, 18rem);
        color: $main-color;
        font-weight: 700;
    }

    &__message {
        font-size: calc($clamp-5-10rem / 4.44);
        color: $main-color;
        font-weight: 500;
    }

    &__link {
        font-size: clamp(0.875rem, 1.25vw, 1.125rem);
        color: $main-color;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
}