@import './settings.scss';

.navbar {
  display: flex;
  gap: clamp(26px, 3.958vw, 57px);
  list-style-type: none;
  align-items: center;
  padding: 0px;
  margin: 0;

  .navbar__logo {
    margin-right: auto;
  }

  &__link {
    color: $main-color;
    text-decoration: none;
    font-size: calc($clamp-5-10rem / 6.66);

    &:hover {
      text-decoration: underline;
    }
  }

  &__logo__svg {
    height: clamp(43px, 4.306vw, 62px);
  }
}