@import './settings.scss';

.navbar {
  display: flex;
  gap: clamp(26px, 3.958vw, 57px);
  list-style-type: none;
  align-items: center;
  padding: 0px;
  margin: 0;

  .navbar__logo {
    margin-right: auto;

    &__title {
      position: relative;
      color: rgba(255, 255, 255, 0);
      width: clamp(101.7px, 14.125vw ,203.4px);
      height: clamp(43px, 4.306vw, 62px);
      
     
     
      &__svg {
        position: absolute;
        top: 0;
        left: 0;
        width: clamp(101.7px, 14.125vw ,203.4px);
        height: clamp(43px, 4.306vw, 62px);
        background-image: url('../assets/logo-kasa.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
      }
    }
  }

  &__link {
    color: $main-color;
    text-decoration: none;
    font-size: calc($clamp-5-10rem / 6.66);

    &:hover {
      text-decoration: underline;
    }
  }
}
