@import './settings.scss';

.identity {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;

    &__name {
        color: $main-color;
        font-size: $clamp-07-1rem;
        font-weight: 500;
        max-width: 10ch;
        text-align: end;

    }

    &__picture {
        width: clamp(32px, 4.444vw, 64px);
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
}