@import './reset.scss';
@import './settings.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-wrapper {
  padding-top: clamp(20px, 3.125vw, 45px);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 99vh;


}

.header,
.banner,
.rental-list,
.rental-sheet,
.gallery,
.a-propos {
  margin-right: clamp(0px, 6.944vw, 100px);
  margin-left: clamp(0px, 6.944vw, 100px);
  margin-bottom: clamp(0px, 2.778vw, 40px);
}

main {
  flex-grow: 1;
}


* {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
}


a {
  text-decoration: none;
}