@import './reset.scss';
@import './settings.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-wrapper {
  padding-top: clamp(0px, 2.083vw, 40px);
}

.header, .banner, .location-list, .rental-sheet, .carousel, .a-propos {
  margin-right: clamp(0px, 5.208vw, 100px);
  margin-left: clamp(0px, 5.208vw, 100px);
  margin-bottom: clamp(0px, 2.083vw, 40px);
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
}