.rating {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: clamp(15px, 2.431vw, 35px);
    gap: clamp(6.5px, 1.042vw, 15px);

    &__star {
        height: clamp(13px, 1.667vw, 24px);

    }
}