@import './settings.scss';

.rental-sheet {
    &__overview {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media screen and (max-width: 480px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__host {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        @media screen and (max-width: 480px) {
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__detail {
        display: flex;
        gap: clamp(20px, 3.958vw, 76px);
        margin-top: 10px;

        @media screen and (max-width: 768px) {
            flex-direction: column;

        }
    }
}

.housing {
    flex-basis: 80%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__title {
        @include default-text(2.25rem);
    }

    &__location {
        @include default-text(1.125rem);
    }
}