@import './settings.scss';

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &__item {
        background-color: $main-color;
        padding: clamp(3px, 0.26vw, 5px) clamp(10px, 1.042vw, 20px);
        aspect-ratio: 115 / 25;
        color: white;
        font-size: clamp(0.625rem, 0.729vw, 0.875rem);
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}